###########################################################################
##\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\##
##                                                                       ##
##  ///////////      ////     ///////////                                ##
##  ##'"""""`##\     #""#\    #""""""""#\                                ##
##  #' .mmm. `#\     #  #\    #mmm  mmm#\                                ##
##  #  ########\     #  #\    ####  ####\                                ##
##  #  ###   `#\     #  #\    ####  ####\                                ##
##  #. `###' .#\     #  #\    ####  ####\                                ##
##  ##.     .##\     #  #\    ####  ####\                                ##
##  ###########\     ####\    ##########\                                ##
##  \\\\\\\\\\\`     \\\\`    \\\\\\\\\\`                                ##
##                                                                       ##
## //////////////             ////////////                               ##
## #"""""`'"""`Y#\            #""""""'Y##\          dP                   ##
## #  mm.  mm.  #\            #  mmmm. `#\          88                   ##
## #  ###  ###  #\  .d8888b.  #  #####  #\ dP    dP 88 .d8888b. .d8888b. ##
## #  ###  ###  #\  88'  `88  #  #####  #\ 88    88 88 88ooood8 Y8ooooo. ##
## #  ###  ###  #\  88.  .88  #  ####' .#\ 88.  .88 88 88.  ...       88 ##
## #  ###  ###  #\  `88888P'  #       .##\ `88888P' dP `88888P' `88888P' ##
## ##############\            ###########\                               ##
## \\\\\\\\\\\\\\`            \\\\\\\\\\\`                               ##
##                                                                       ##
##\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\##
###########################################################################


[submodule "98"]
	path = 98
	url = git@github.com:jdan/98.css.git
[submodule "PVB6"]
	path = PVB6
	url = git@github.com:gabrielfalcao/Projetos-VB6.git
